extends layout

block content

  p= `Thank you for your registration! Try to embbed it in your markdown:`
  a(href=`https://tracker.capslock.tw/ga/${private}`)= `https://tracker.capslock.tw/ga/${private}`
  p= `Or you can obtain it from: `
  a(href=`https://tracker.capslock.tw/ga/${public}`)= `https://tracker.capslock.tw/ga/${public}`
